/* botão para mobile */

/* @media (max-width:480px) { */
@media (min-device-width: 480px) and (max-device-width: 768px) and (orientation: landscape), (max-width:768px) {

    .btnMenu {
        display: block;
        background-repeat: no-repeat;
        background-position: 15px center;  
        text-indent: -9999px;
        padding: 20px 15px;
        width: 100%;    
    }

    .btnMenu_Open {     
        background-image: url(/assets/header/hamburger-menu.png);

    }

    .btnMenu_Close 
    {
        padding: 36px;
        background-image: url(/assets/header/hamburger-menu-close.png);
        background-color: #f2f2f2;

    }

}